{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}

{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="/">
    <select name="language" onchange="this.form.submit()">
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}" {%if language.code == LANGUAGE_CODE%} selected{%endif%}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
</form>

<div class="card">
  <h1 class="display-3 text-center">{% trans "Application" %}</h1>
  
    <form action="{% url 'create_employee_application' %}" enctype="multipart/form-data" class="employee-form" method="POST" autocomplete="off">
      <div class="card">
        <h5 class="card-header">
            {% trans "Personal Information" %}
            <br>
            
            <small>{% trans "Add all your personal data." %}</small>
        </h5>
        <div class="card-body">
          {% crispy employee_form %}
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">
            {% trans "Address Information" %}
            <br>
            <small>
              {% trans "Add all the information about your postal address" %}
            </small>
        </h5>
        <div class="card-body">
          {% crispy address_form %}
        </div>
      </div>
      
      <div class="card">
        <h5 class="card-header">
          {% trans "Employment Eligibility" %}
          <br>
          <small>
            {% trans "Information related to the job you want and your experience in previous jobs." %}
          </small>
        </h5>
        <div class="card-body">
          {% crispy application_form %}
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">
          {% trans "Medical Form" %}
          <br>
          <small>
          {% trans "Information related to your medical condition." %}
          </small>
        </h5>
        <div class="card-body">
          {% crispy medicalForm_form %}
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">
          {% trans "Emergency Contact" %} 
          <br>
          <small>
            {% trans "Information of a relative or friend to contact in case of emergency." %}
          </small>
        </h5>
        <div class="card-body">
          {% crispy emergency_contact_form %}
        </div>
      </div>
    </form>
</div>

<script>
  const worked_for_this_company_before = document.querySelector('#id_worked_for_this_company_before');
  const start_date_worked_for_this_company = document.querySelector('#div_id_start_date_worked_for_this_company');
  const end_date_worked_for_this_company = document.querySelector('#div_id_end_date_worked_for_this_company');

  worked_for_this_company_before.addEventListener('change', () => {
    if (worked_for_this_company_before.value === 'True') {
      start_date_worked_for_this_company.style.display = 'block';
      end_date_worked_for_this_company.style.display = 'block';
    } else {
      start_date_worked_for_this_company.style.display = 'none';
      end_date_worked_for_this_company.style.display = 'none';
    }
  });

  const has_been_convicted_of_a_felony = document.querySelector('#id_has_been_convicted_of_a_felony');
  const felony_details = document.querySelector('#div_id_felony_details');

  has_been_convicted_of_a_felony.addEventListener('change', () => {
    if (has_been_convicted_of_a_felony.value === 'True') {
      felony_details.style.display = 'block';
    } else {
      felony_details.style.display = 'none';
    }
  });

  const military_service = document.querySelector('#id_military_service');
  const service_branch = document.querySelector('#div_id_service_branch');
  const start_period_service = document.querySelector('#div_id_start_period_service');
  const end_period_service = document.querySelector('#div_id_end_period_service');
  const duties_training_service = document.querySelector('#div_id_duties_training_service');

  military_service.addEventListener('change', () => {
    if (military_service.value === 'True') {
      service_branch.style.display = 'block';
      start_period_service.style.display = 'block';
      end_period_service.style.display = 'block';
      duties_training_service.style.display = 'block';
    } else {
      service_branch.style.display = 'none';
      start_period_service.style.display = 'none';
      end_period_service.style.display = 'none';
      duties_training_service.style.display = 'none';
    }
  });

  const received_workers_compensation = document.querySelector('#id_received_workers_compensation');
  const workers_compensation_details = document.querySelector('#div_id_workers_compensation_details');

  received_workers_compensation.addEventListener('change', () => {
    if (received_workers_compensation.value === 'True') {
      workers_compensation_details.style.display = 'block';
    } else {
      workers_compensation_details.style.display = 'none';
    }
  });

  const received_surgery_for_fracture = document.querySelector('#id_received_surgery_for_fracture');
  const fracture_details = document.querySelector('#div_id_fracture_details');

  received_surgery_for_fracture.addEventListener('change', () => {
    if (received_surgery_for_fracture.value === 'True') {
      fracture_details.style.display = 'block';
    } else {
      fracture_details.style.display = 'none';
    }
  });

  const physical_disability_evaluation = document.querySelector('#id_physical_disability_evaluation');
  const physical_disability_details = document.querySelector('#div_id_physical_disability_details');

  physical_disability_evaluation.addEventListener('change', () => {
    if (physical_disability_evaluation.value === 'True') {
      physical_disability_details.style.display = 'block';
    } else {
      physical_disability_details.style.display = 'none';
    }
  });

  const hiddenExtraFields = () => {
    start_date_worked_for_this_company.style.display = 'none';
    end_date_worked_for_this_company.style.display = 'none';
    felony_details.style.display = 'none';
    service_branch.style.display = 'none';
    start_period_service.style.display = 'none';
    end_period_service.style.display = 'none';
    duties_training_service.style.display = 'none';
    workers_compensation_details.style.display = 'none';
    fracture_details.style.display = 'none';
    physical_disability_details.style.display = 'none';
  };
  hiddenExtraFields();
</script>
{% endblock %}